<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <div style="border: 1px solid; float: left; padding: 5px; border-radius: 6px;">
            <p>Olá [[${user.name}]],</p>
            <p>Houve uma solicitação de recuperação de senha.</p>
            <p>Esse é código para redefinir sua senha <b>[[${code}]]</b> </p>
            <p>Esse é código é valido por apenas 30 minutos </p>
        </div>
    </body>
</html>